body {
  font-family: Arial, Helvetica, sans-serif;
}
section {
  text-align: center;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 300px;
  margin: 50px auto;
}
.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-shadow: 0 0 0 1px black;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}
